<%= simple_form_for(staff, url: update_contact_staff_path, method: 'put') do |f| %>

  <%= f.simple_fields_for :staff_addresses do |a| %>
  <div class="card border-0">
    <div class="card-block">
      <p class="card-title mb-0"><strong>Address Info</strong></p>
      <hr class="mt-0">
      <%= a.error_notification %>
      <%= a.input :street_address %>
      <%= a.input :city %>
      <%= a.input :region %>
      <%= a.input :postal_code %>
    </div>
  <% end %>

  <%= f.simple_fields_for :staff_contacts do |c| %>
    <div class="card-block">
      <p class="card-title mb-0"><strong>Contact Info</strong></p>
      <hr class="mt-0">
      <%= c.error_notification %>
      <%= c.input :mobile_phone %>
      <%= c.input :home_phone %>
      <%= c.input :office_phone %>
      <%= c.input :work_email %>
      <%= c.input :personal_email %>
      <div class="row">
        <div class="col-sm-9 offset-sm-3">
          <%= f.button :submit, "Save", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
