<%= simple_form_for(staff, html: {class: "horizontal_form"}) do |f| %>
<div class="card-block">
  <%= f.error_notification %>
  <strong>Personal Information</strong><hr class="mt-0">
  <%= f.input :title, collection: ['Mr.', 'Mrs', 'Master', 'Dr.', 'Prof.', 'Mallam', 'Maulvi', 'Sheik', 'Pastor', 'Reverend', 'Father', 'other'], input_html: {class: 'custom-select'}, label_html: {class: "required"}%>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :gender, collection: ['Male', 'Female'], input_html: {class: 'custom-select'} %>
  <%= f.input :date_of_birth, as: :string, input_html: {class: 'datepicker'} %>
  <%= f.input :religious_denomination, label: 'Rel. Denomination' %>
  <%= f.input :phone %>
  <%= f.input :marital_status, collection: ['Single', 'Married', 'Divorce'], input_html: {class: 'custom-select'} %>
  <%= f.input :photo %>
</div>

<div class="card-block">
  <strong>General Information</strong><hr class="mt-0">
  <%= f.input :joining_date, as: :string, input_html: {class: 'datepicker'} %>
  <%= f.association :staff_department, label: 'Department', input_html: {class: 'custom-select'} %>
  <%= f.input :qualification, collection: ['SSSCE/WASSCE', 'Diploma', 'HND', 'Degree', '2nd Degree', 'PhD', 'Other'] %>
  <%= f.input :specialization %>
  <%= f.input :registered_no %>
  <%= f.input :employment_date, as: :string, input_html: {class: 'datepicker'}, label: 'Appointment Date' %>
  <%= f.input :employee_id, label: 'Staff ID' %>
  <%= f.input :registered_no %>
  <%= f.input :rank %>

</div>

<div class="card-block">
  <div class="row">
    <div class="col-md-9 offset-md-3">
      <%= link_to "Cancel", send(back_link, link_params), class: "btn btn-secondary " %>
      <%= f.button :submit, "#{action_text}", class: "btn btn-primary ml-5" %>
    </div>
  </div>
</div>
<% end %>
