<%= simple_form_for(classroom, html: {id: "classroomForm"}) do |f| %>
  <%= f.error_notification %>

<div class="row">
  <div class="col-sm-5">
    <%= f.input :name, label: false, placeholder: "Name" %>
  </div>
  <div class="col-sm-5">
    <%= f.input :capacity, label: false, placeholder: "Capacity" %>
  </div>
  <div class="col-sm-2">
      <%= f.button :submit, "Create", class: "btn btn-primary btn-sm" %>
  </div>

</div>
<% end %>
